body {
    background-color: #C0C0C0;
}

.box {
    background: radial-gradient(#F0F0F0, #CCCCCC, #5b5b5b);
}

.controller {
    background-color: #dedede;
    box-shadow: 0 0 10px -3px black;
}

.menuOpen, .menuClose, .backToHome {
    background: #FFFFFF;
}

.menu {
    box-shadow: 0 0 20px 20px #CCCCCC;
    background-color: #C0C0C0;
}

.tableOutline {
    background-color: rgba(0,0,0,0.3);
}

.menu .tableOutline table tr, .menu table tr td {
    border-bottom: 1px solid #FFFFFF;
}
